<%- include ('templates/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h1 style='text-align:center;'> Library </h1>
    </div>
    
    <div class='row'>
        <%if(!books){%>
            <h1 class='col-sm-12 nofound'>Empty database. Please add the first book!</h1>    
        <%}
        else{%>
        	<table>
        		<tr><th>Cover</th><th>Title</th><th>AuthorID</th><th>Published In</th></tr>
        		<tr><td colspan="4"><hr/></td></tr>
        		<%books.forEach(function(book){%>
            		<tr>
            		    <td><img src= '<%=book.cover%>'></image></td>
            			<td><%=book.title%></td>
            			<td><%=book.authorId%></td>
            			<td><%=book.year%></td>
            			<td><a href='/checkout/<%=book.bookId%>'><h2>Checkout</h2></a></td>
            		</tr>
            		<br>
        		<%});%>
        	</table>
        <%}%>
    </div>
    
</div>

<%- include ('templates/footer'); -%>