<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1> Library </h1>
	</div>
	<div class='row'>
        <%if(!books.inStock == 0){%>
            <h1 class='col-sm-12 nofound'>Out of Stock!</h1>    
        <%}
        else{%>
        	<table>
        		<tr><th>Cover   -</th><th>Title -</th><th>Year    -</th><th>Stock  -</th><th>Author    -</th></tr>
        		<tr><td colspan="5"><hr/></td></tr>
        		<%books.forEach(function(book){%>
            		<tr>
            		    <td><img src= '<%=book.cover%>'></image></td>
            			<td><%=book.title%>     -</td>
            			<td><%=book.year%>      -</td>
            			<td><%=book.inStock%>   -</td>
            			<td><%=name%>       -</td>
            			<td><button class='btn btn-primary btn-block'>Confirm Rental</button></td>
            		</tr>
            		<br>
        		<%});%>
        	</table>
        <%}%>
    </div>
</div>
<%- include ('templates/footer'); -%>