<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1> Active Rentals </h1>
	</div>

	<div class='row'>
        <%if(rentedBooks.length == 0){%>
            <h1 class='col-sm-12 nofound'>No Active Rentals!</h1>    
        <%}
        else{%>
        	<table>
        		<tr><th><h4> /Cover/ </h4></th><th><h4> /Title/ </h4></th><th><h4> /Year/ </h4></th><th><h4> /Author/ <h4></th></tr>
        		<tr><td colspan="4"><hr/></td></tr>
        		<%rentedBooks.forEach(function(rentedBook){%>
            		<%books.forEach(function(book){%>
            			<%if(book.bookId == rentedBook.bookId){%>
            			<tr>
	            			<form action='/return/<%=rentedBook.rentalId%>' method='POST'>
	            				<td><img src= '<%=book.cover%>'></image></td>
		            			<td><%=book.title%></td>
		            			<td><%=book.year%></td>
		            			<td><%=book.firstName%> <%=book.lastName%></td>
		            			<td><button class='btn btn-primary btn-block'>Return</button></td>
	            			</form>
	            		</tr>
	            		<br>
	            		<%}%>
	        		<%});%>
        		<%});%>
        	</table>
        <%}%>
    </div>
</div>
<%- include ('templates/footer'); -%>